*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     -webkit-tap-highlight-color: transparent;
}

ol,ul{
    list-style: none;
}



input{
    border: none;
    outline: none;
    /*清楚input 表单 内置 的样式.*/
    -webkit-appearance: none;
}

body{
    font-size: 14px;
    color: #333;
    font-family: "MicroSoft YaHei", sans-serif;
}
a{
    color: #ccc;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.f_left{
    float: left;
}


